{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .name{
     font-size: 17px;
     color: #959595;
     font-family: "AppleSDGothicNeoM";
    
    }

    .articovery_3{
        font-family: "AppleSDGothicNeoM";
    }
    </style>

<div class="articovery_1">HOW ABOUT : ART 1</div>

<div class="articovery_2">
    <p>신예작가를 찾기 위한 아티커버리의 여정.</p>
    <p>랜덤으로 뽑힌 단 하나의 전시, PRE.ART가 함께합니다.</p>
    <p id="articovery_2_preart">ART with PRE.ART</p>
</div>

{% for post in user_post %}
<div class="articovery_3">

    <div class="articovery_3_writer">{{post.artist_name}}</div>

    {% comment %}
        <a href="https://github.com/jiyoungzero" class = "project" target="blank" data-type="etc">
        <img 
        class="project__img"
        src="imgs/projects/동국in.PNG" alt="etc">
        <div class="project__description">
            <h3>DGin website</h3>
            <span>Create website that dongguk student can use for Q&A</span>
        </div>
    </a>
    {% endcomment %}


    <div class="articovery_3_random3">
        <a class="articovery_3_block" href="{% url 'shop:product' post.id %}">
            
                {% if post.main_image %}
                <div class="articovery_3_block_box">
                    <img class="articovery_3_block_box_img" src="{{ post.main_image.url }}">
                    <div class = "post_description">
                        <h3>아티커버리 with PRE.ART</h3>
                        <br>
                        <div class="name">{{post.artist_name}}</div>
                        <div class="name">{{post.post_name}}</div>  
                        {% comment %} <div class="name">{{post.tag}}</div>                    {% endcomment %}
                    </div> 
                    </img>
                </div>
                {% endif %}
        </a>
    </div> 

{% endfor %}

</div> 



{% endblock %}