{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .name{
     font-size: 17px;
     color: #959595;
     font-family: "AppleSDGothicNeoM";
    
    }

    .articovery_3{
        font-family: "AppleSDGothicNeoM";
    }
    </style>

<div class="articovery_1">HOW ABOUT : ART 1</div>

<div class="articovery_2">
    <p>신예작가를 찾기 위한 아티커버리의 여정.</p>
    <p>랜덤으로 뽑힌 단 하나의 전시, PRE.ART가 함께합니다.</p>
    <p id="articovery_2_preart">ART with PRE.ART</p>
</div>


{% for post in user_post %}
<div class="effect-wrap">
    <a href="{% url 'shop:product' post.id %}">
    <figure class="effect5"  style="border: 10px solid black;background-color: white; padding:5px;">
        {% if post.main_image %}
        <img src="{{ post.main_image.url }}" alt="">
        {% endif %}
       <figcaption>
        <h4 style="color:orange;">아티커버리 with PREART</h4>
        <p style="font-size:15px;">
            {{post.artist_name}}<br>
            {{post.post_name}}
        </p>
    </figure>
</a>
</div>
{% endfor %}

{% endblock %}