{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="articovery_1">POPULAY : TOP 9</div>

<div class="articovery_2">
    <p>가장 많은 PIN을 받은 9개의 전시입니다.</p>
    <p>전시 상세페이지로 이동해 후원에 참여해보세요.</p>
    <p id="articovery_2_preart">ART with PRE.ART</p>
</div>

            {% for post in posts %}

                <div class="ad_item_item">
                    <div class="ad_agree_list">
                        <div class="ad_agree_sub">작가 본명</div>
                        <div class="ad_agree_text" >{{post.realname}}</div>
                    </div>

                    <div class="ad_agree_list">
                        <div class="ad_agree_sub">작가 활동명</div>
                        <div class="ad_agree_text" >{{post.artist_name}}</div>
                    </div>
        
                    <div class="ad_agree_list">
                        <div class="ad_agree_sub">소속</div>
                        <div class="ad_agree_text" >{{post.team}}</div>
                    </div>
    
                    <div class="ad_agree_list">
                        <div class="ad_agree_sub">이메일</div>
                        <div class="ad_agree_text" >{{post.email}}</div>
                    </div>

                    <div class="ad_agree_text2">
                        <span id="count-{{post.id}}" class="alt-services-title font-alt">
                            좋아요
                            {% if post.like_count == 0 %}
                                0개
                            {% else %}
                                {{post.like_count}}개
                            {% endif %}
                        </span>
                    </div>
        
                    <div class="ad_agree_list">
                        <a class="ad_detail_btn" href="{% url 'shop:product' post.id %}">More ➔</a>
                    </div>

                </div>

            {% endfor %}

<!-- <div class="articovery_3">
    <div class="articovery_3_writer">김도훈 | 김만섭 | 김소연</div>

    <div class="articovery_3_random3">
        <a class="articovery_3_block" href="#">
            <div class="articovery_3_block_box">
                <img src="{% static 'img/main1.png' %}">

                
                <div class="articovery_3_block_box_content">
                    김도훈 - Show up 29-1 
                </div>
            </div>
        </a>


        <a class="articovery_3_block" href="#">
            <div class="articovery_3_block_box">
                <img src="{% static 'img/main1.png' %}">
                
                <div class="articovery_3_block_box_content">
                    김도훈 - Show up 29-1 
                </div>
            </div>
        </a>


        <a class="articovery_3_block" href="#">
            <div class="articovery_3_block_box">
                <img src="{% static 'img/main1.png' %}">
                
                <div class="articovery_3_block_box_content">
                    김도훈 - Show up 29-1 
                </div>
            </div>
        </a>
    </div>
</div> -->

{% endblock %}