{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="articovery_1">POPULAY : TOP 9</div>

<div class="articovery_2">
    <p>가장 많은 PIN을 받은 9개의 전시입니다.</p>
    <p>전시 상세페이지로 이동해 후원에 참여해보세요.</p>
    <p id="articovery_2_preart">ART with PRE.ART</p>
</div>

<div class="articovery_3">
    <div class="articovery_3_writer">김도훈 | 김만섭 | 김소연</div>

    <div class="articovery_3_random3">
        <a class="articovery_3_block" href="#">
            <div class="articovery_3_block_box">
                <img src="{% static 'img/main1.png' %}">

                
                <div class="articovery_3_block_box_content">
                    김도훈 - Show up 29-1 
                </div>
            </div>
        </a>


        <a class="articovery_3_block" href="#">
            <div class="articovery_3_block_box">
                <img src="{% static 'img/main1.png' %}">
                
                <div class="articovery_3_block_box_content">
                    김도훈 - Show up 29-1 
                </div>
            </div>
        </a>


        <a class="articovery_3_block" href="#">
            <div class="articovery_3_block_box">
                <img src="{% static 'img/main1.png' %}">
                
                <div class="articovery_3_block_box_content">
                    김도훈 - Show up 29-1 
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}