{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/regist_1.css' %}">

<div id="background" style='font-family: "AppleSDGothicNeoM"'>
    <div class="regist_items">
        <section>
            <img class="regist_1_image" src="{% static 'img/regist.png' %}" alt="">
        </section>

        <section class="regist_1_box">

            <div class="regist_1_tag">

                <div class="regist_text">
                    <a class="regist_line"><span>환영합니다!</span></a>
                </div>
                
                <div class="regist1_ment">                   
                    <div class="regist_ment_m">접수부터 등록까지 평균 7일 소요됩니다.</div>
                    <div class="regist_ment_m">탄탄한 스토리가 준비되어 있다면 더 빨리 펀딩을 시작할 수 있습니다.</div>
                    <div class="regist_ment_m">심사가 진행되기 전에는 누구도 작가님의 프로젝트를 볼 수 없으니 걱정 마세요.</div>
                    <div class="regist_ment_m">PRE.ART 에서 프로젝트를 시작해보세요 !</div>
                </div>

            </div>

            <div class="regist_bnt"><a style="text-decoration: none" class = "regist_next" href="{% url 'cart:regist_2' %}">시작</a></div>
            

        </section>

    </div>
</div>

{% endblock %}