{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
.reg_img1{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 40%;
    font-size: 17px;
    text-align: center;
    color: #959595;
}
</style>
<div id="background">
    
        <form action="{% url 'cart:regist_4' %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="regist4_formbox">
                <div class="regist4_miniform">
                    {% for form in forms %}
                    <div id="regist4_formbox">
                        <label id="form_label" for="{{ form.id_for_label }}" class="{{form.label}}" style="width: 30%;">{{ form.label }}</label>
                        <div id="form_input">{{ form }}</div>
                    </div>
                    {% endfor %}
                    <!-- 전시 사진 추가 form
                    <div id="form_img">
                        <label id="form_imglabel">전시 이미지 첨부(최대 10장)</label>
                        <div id="post_img"><input type="file" name="post_img"  accept="image/png" class="custom-file-input" onchange="formSubmit()"><br></div>
                    </div> -->
                
                    <div class="regist4_underinput">
                        <div class="mapbox" style="height:400px;">
                            <input type="text" id="sample5_address" placeholder="주소">
                            <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
                            <div id="map" style="width:480px;height:300px;margin-top:10px;margin-left: 10%; display:none"></div>

                            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                            <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=48a405a3e0bcc8c015bc54b0d3df03ae&libraries=services"></script>
                            <script>
                                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                    mapOption = {
                                        center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                                        level: 5 // 지도의 확대 레벨
                                    };

                                //지도를 미리 생성
                                var map = new daum.maps.Map(mapContainer, mapOption);
                                //주소-좌표 변환 객체를 생성
                                var geocoder = new daum.maps.services.Geocoder();
                                //마커를 미리 생성
                                var marker = new daum.maps.Marker({
                                    position: new daum.maps.LatLng(37.537187, 127.005476),
                                    map: map
                                });


                                function sample5_execDaumPostcode() {
                                    new daum.Postcode({
                                        oncomplete: function(data) {
                                            var addr = data.address; // 최종 주소 변수

                                            // 주소 정보를 해당 필드에 넣는다.
                                            document.getElementById("sample5_address").value = addr;
                                            // 주소로 상세 정보를 검색
                                            geocoder.addressSearch(data.address, function(results, status) {
                                                // 정상적으로 검색이 완료됐으면
                                                if (status === daum.maps.services.Status.OK) {

                                                    var result = results[0]; //첫번째 결과의 값을 활용

                                                    // 해당 주소에 대한 좌표를 받아서
                                                    var coords = new daum.maps.LatLng(result.y, result.x);
                                                    // 지도를 보여준다.
                                                    mapContainer.style.display = "block";
                                                    map.relayout();
                                                    // 지도 중심을 변경한다.
                                                    map.setCenter(coords);
                                                    // 마커를 결과값으로 받은 위치로 옮긴다.
                                                    marker.setPosition(coords)
                                                }
                                            });
                                        }
                                    }).open();
                                }
                            </script>
                        </div>

                        <div class="reg_img1">
                            <input type="file" name="post_imgs" multiple>
                            <!-- if post_img 있으면
                            <img src="#"/>
                            img 뜰 수 있게 연결해주세요.
                            else  -->
                            <span>추가 전시 사진을 등록하세요!</span>
                            <!-- endif  -->
                        </div>
                    </div>
                </div>
                </div>
            {% if error %}
            {{ error }}
            {% endif %}
            <div class="reg_submit_btn">
                <button type="submit" id="reg_submit_btn">시작하기</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

