{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="background">
    <section class="regist_form">
        <div class="regist_item">
            <div class="regist_input">
                <label class="regi4_label">작가 활동명</label>
                <div class="regi4_input">
                <input type="text" placeholder="name"></div>    		
            </div>
            <div class="regist_input">
                <label class="regi4_label">작가 소속</label>
                <div class="regi4_input">
                <input type="text" placeholder="group"></div>   		
            </div>
            <div class="regist_input">
                <label class="regi4_label">작가 이메일</label>
                <div class="regi4_input">
                <input type="text" placeholder="email"></div> 		
            </div>
            <div class="regist_input">
                <label class="regi4_label">작가 소개</label>
                <div class="regi4_input">
                <input type="text" placeholder="introduction"></div>   		
            </div>
            <div class="regist_input">
                <label class="regi4_label">전시 기획의도</label>
                <div class="regi4_input">
                <input type="text" placeholder="purpose"></div> 		
            </div>
            <div class="regist_input">
                <label class="regi4_label">전시 내용</label>
                <div class="regi4_input">
                <input type="text" placeholder="최소 30글자 이하"></div>   		
            </div>
            <div class="regist_input">
                <label class="regi4_label">전시 목표 가격</label>
                <div class="regi4_input">
                <input type="text" placeholder="               원"></div>  		
            </div>
        </div>  

        <div class="regist_bnt"><a style="text-decoration: none" class = "regist_next" href="#">시작하기</a></div>
    </section>

</div>
{% endblock %}

