{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="admin_1">

    <div class="admin_nav">

        <div class="admin_logo">Admin page</div>
        
        <!-- <div class="admin_nav_btn">
            <a class="admin_nav_text" href="#" style= "text-decoration:none">전시관리</a>
        </div> -->

        <div class="admin_nav_btn">
            <a class="admin_nav_text" href="{% url 'cart:post_list' %}" style="text-decoration:none;">승인대기</a>
        </div>

        <div class="admin_nav_btn">
            <a class="admin_nav_text" href="{% url 'cart:user_post_list' %}" style="text-decoration:none; font-weight: bolder; font-size: 25px;">승인완료</a>
        </div>

    </div>

    <div class="admin_agree">

        <div class="ad_agree_title">
            About Page
        </div>

        <div class="admin_agree_box">

            <div class="ad_detail_agree_item">

                <div class="ad_artist">About Artist</div>

                    <div class="ad_detail_item_item">

                        <div class="ad_agree_list2">
                            <div class="ad_agree_sub2">작가 본명</div>
                            <div class="ad_agree_text2" >{{post.realname}}</div>
                        </div>

                        <div class="ad_agree_list2">
                            <div class="ad_agree_sub2">작가 활동명</div>
                            <div class="ad_agree_text2" >{{post.artist_name}}</div>
                        </div>
            
                        <div class="ad_agree_list2">
                            <div class="ad_agree_sub2">소속</div>
                            <div class="ad_agree_text2" >{{post.team}}</div>
                        </div>
        
                        <div class="ad_agree_list2">
                            <div class="ad_agree_sub2">이메일</div>
                            <div class="ad_agree_text2" >{{post.email}}</div>
                        </div>

                        <div class="ad_agree_list2">
                            <div class="ad_agree_sub2">작가 한줄 소개</div>
                            <div class="ad_agree_text2" >{{post.artist_intro}}</div>
                        </div>
                    </div>

                <div class="ad_exhibit">About Exhibit</div>

                    <div class="ad_detail_item_item">

                        <div class="ad_agree_list2">
                            <div class="ad_agree_sub2">전시 제목</div>
                            <div class="ad_agree_text2" >{{post.post_name}}</div>
                        </div>

                        <div class="ad_agree_list2">
                            <div class="ad_agree_sub2">전시 한줄 소개</div>
                            <div class="ad_agree_text2" >{{post.post_intro}}</div>
                        </div>

                        <div class="ad_agree_list2">
                            <div class="ad_agree_sub2">전시 기획 의도</div>
                            <div class="ad_agree_text2" >{{post.post_plan}}</div>
                        </div>

                        <div class="ad_agree_list2">
                            <div class="ad_agree_sub2">전시 메인 사진</div>
                            <div class="ad_agree_text2" style="display: inline-flex; width:100%;">
                                <div style="width: 30%;"><img src="{{ post.main_image.url }}" alt=""></div>
                            </div>
                        </div>

                        <div class="ad_agree_list2">
                            <div class="ad_agree_sub2">전시 추가 사진</div>
                            {% for i in post.image.all %}
                                <p><img src="{{ i.image.url }}" alt=""></p>
                            {% endfor %}
                        </div>

                    </div>
                
                <!-- 좋아요 버튼 확인용입니다 ! -->
                <span href="#" class="like" name="{{post.id}}" value="Like">
                    {% if user in post.like_user_set.all %}
                        <div class="alt-service-icon">
                            <i class="fas fa-heart" id="like-icon" style="color:red;"></i>
                        </div>
                    {% else %}
                        <div class="alt-service-icon">
                            <i class="far fa-heart" id="like-icon" style="color:red;"></i>
                        </div>
                    {% endif %}
                    <span id="count-{{post.id}}" class="alt-services-title font-alt">
                        좋아요
                        {% if post.like_count == 0 %}
                            0개
                        {% else %}
                            {{post.like_count}}개
                        {% endif %}
                    </span>
                </span>

                <!-- <div class="ad_de_btn">
                    <form><button class="w-btn w-btn-indigo" type="submit"><a href="{%url 'cart:post_edit' post.id%}">수정 및 확인</a></button></form>
                </div> -->
                <div class="ad_de_btn">
                    <form><button class="w-btn w-btn-indigo" type="submit"><a href="/cart/user_post_detail/post_delete/{{post.id}}">삭제</a></button></form>
                </div>

            </div>   

        </div>   
        
    </div>

</div>

<!-- 좋아요 스크립트 -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(".like").click(function(){
        var pk=$(this).attr('name')
        $.ajax({
             type:'POST',
            url:"{% url 'cart:like_toggle' post.pk %}",
            data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:'json',
            success:function(response){
                if(response.like_count==null){
                    alert('로그인이 필요합니다.');
                     window.location.replace('/accounts/login/');
                }
                else{
                    if(response.result=='like'){
                       $('#like-icon').removeClass();
                        $('#like-icon').addClass('fas fa-heart');
                    }
                    else{
                         $('#like-icon').removeClass();
                        $('#like-icon').addClass('far fa-heart');
                     }
                    $('#count-{{post.id}}').html('좋아요'+response.like_count+"개");
                 }
            },
             error:function(request, status, error){
                alert("로그인이 필요합니다.")
                alert('code:'+request.status+'\n'+'message:'+request.responseText+"\n"+"error:"+error);
            },
         })
    })
</script>
{% endblock %}