{% extends "base.html" %}
{% load static %}

{% block content %}

<style>

    .nav{
        z-index: 100;
    }

</style>

<link rel="stylesheet" href="{% static 'css/funding.css' %}">
  
<div class="container" style="text-align: center; height: 750px; line-height: 50px;">
    <div class="row mt-5"></div>
        <div class="col-12">
            {{error}}
        </div>
        <br>
        <div class="col-12" style="width: 50%; margin: 0 25%;">
            <form method = "POST" action=".">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input
                      type="{{ field.field.widget.input_type }}"
                      class="form-control"
                      id="{{ field.id_for_label }}"
                      placeholder="{{ field.label }}"
                      name="{{ field.name }}"
                      style="width:100%"
                    />
                </div>
                {% if field.errors %}
                <span style="color: red;">{{ field.errors }}</span>
                {% endif %} 
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-secondary btn-block my_custom_button"  style="width:100%">Login</button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}