{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="myp">
    <div class="mypage_nav">
        <div class="myp_logo">My page</div>
        
        <div class="my_nav_btn">
            <a class="my_nav_text" href="{% url 'accounts:mypage' %}" style= "text-decoration:none; font-weight: bolder; font-size: 25px;">나의 프로필</a>
        </div>

        {% if not perms.accounts.manager %}
        <div class="my_nav_btn">
            <a class="my_nav_text" href="{% url 'accounts:my_like' request.user.id %}" style="text-decoration:none">관심 전시</a>
        </div>
        {% endif %}

        {% if perms.accounts.manager %}
        <div class="my_nav_btn">
            <a class="my_nav_text" href="{% url 'cart:post_list' %}" style="text-decoration:none">Admin page</a>
        </div>
        {% endif %}
    </div>

    <div class="mypage_item">

        <div class="profile_block">
            <div class="profile_title">이름</div>
            <div class="profile_detatil">{{member.name}}</div>
        </div>

        <div class="profile_block">
            <div class="profile_title">이메일</div>
            <div class="profile_detatil">{{member.email}}</div>
        </div>

        <div class="profile_block">
            <div class="profile_title">ID</div>
            <div class="profile_detatil">{{member.user}}</div>
        </div>

        <div class="profile_block">
            <div class="profile_title">비밀번호</div>
            <div class="profile_detatil">********</div>
        </div>

        <div class="profile_block">
            <div class="profile_title">연락처</div>
            <div class="profile_detatil">{{member.phone}}</div>
        </div>

        <div class="myp_bnt">
            <a style="text-decoration: none" class = "myp_edit_bnt" href="{% url 'accounts:mypage_edit' %}">수정</a>
        </div>

    </div>

</div>

{% endblock %}