{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="myp">
    <div class="mypage_nav">
        <div class="myp_logo">My page</div>
        
        <div class="my_nav_btn">
            <a class="my_nav_text" href="{% url 'accounts:mypage' %}" style="text-decoration:none">나의 프로필</a>
        </div>

        <div class="my_nav_btn">
            <a class="my_nav_text" href="{% url 'accounts:my_like' request.user.id %}" style= "text-decoration:none; font-weight: bolder; font-size: 25px;">관심 전시</a>
        </div>

    </div>

    <div class="mypage4">
        <div class="myp4">

        <div class="myp4_box" style="margin-top: 4%;">
            {% for like in like_list %}
                <div class="card">
                    {% if like.post.main_image %}
                        <a href="#">
                        <img src="{{ like.post.main_image.url }}"  height="300px" class="myp4_im" alt="...">
                        </a>

                        <div class="myp4_t">

                        <div class="myp4_n">{{ like.post.post_name }}</div>
                        <div class="myp4_d"><a href="{% url 'shop:product' like.post.pk %}" class="myp4_l" style="color: #565252">보러가기</a></div>

                        </div>

                        {% else %}

                        <div class="myp4_t">

                            <div class="myp4_n">{{ like.post.post_name }}</div>
                            <div class="myp4_d"><a href="{% url 'shop:product' like.post.pk %}" class="myp4_l" style="color: #565252">보러가기</a></div>
    
                        </div>
    
                        {% endif %}

                </div>
            {% endfor %}

        </div>

    </div>
    
</div>

{% endblock %}