{% extends 'base.html' %}
{% load static %}
{% block content %}


     

            <div>회원정보입력</div>

            <div>
                <form action="{% url 'accounts:register' %}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}

                    <div>이름</div>
                    <div><input required type="text" name="name"></div>

                    <div>이메일</div>
                    <div><input required type="text" name="email"></div>

                    <div>주소</div>
                    <div><input required type="text" name="address"></div>

                    <div>전화번호</div>
                    <div><input type="text" name="phone"></div>


                    <div>
                        <button type="submit">확인</button>
                    </div>

                </form>
            </div>
        </section>

    </div>
    {% endblock %}