@charset "UTF-8";
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url(../font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoLB";
    src: url(../font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url(../font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoEB";
    src: url(../font/AppleSDGothicNeoEB.ttf);
}

.articovery_1{
    text-align: center;
    margin: 3% 0;
    font-size: 33px;
    font-family: "AppleSDGothicNeoEB";

}

.articovery_2{
    text-align: center;
    margin: 1% 0;
    margin-bottom: 5%;
}

.articovery_2 p{
    padding-top: 1.5%;
    font-size: 25px;
    font-family: "AppleSDGothicNeoM";
    color: #796453;
}

#articovery_2_preart{
    font-size: 20px;
    color: #DFD6CD;
}

.articovery_3{
    align-items: center;
    text-align: center;
    font-size: 17px;
    color: #959595;
    font-family: "AppleSDGothicNeoM";

}

.articovery_3_random3{
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.articovery_3_block{
    width: 30%;
    margin: 2% 35%;
    
}

.articovery_3_block_box{
    border-radius: 20px;
}

.articovery_3_block_box img{
    width: 100%;
    border-radius: 20px;
}


.articovery_3_block_box_content{
    font-size: 140%;
    color: white;
    margin-top: -10%;
}

 .post_description{
    align-items: center;
    justify-content: center;


    text-align: center;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 50%;
    height: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all 300ms ease-in;
}


/* .articovery_3_block_box:hover .post_description  */
.post_description:hover {
    opacity: 0.8;
    transform: translateY(0px);
}

.post_description h3 {
color: orange;
}

.post_description h3:after {
content: "";
width: 50px;
height: 2px;
background-color: darkgray;
display: block;
position: relative;
left: 50%;
transform: translate(-50%);
margin-top: 8px;
} 


/* 이미지 호버 */

.effect-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .effect5 {
    position: relative;
    width: 300px; height: 300px;
    overflow: hidden;
  }
  .effect5 img {
    width: 100%;
    height: 100%;
  }
  .effect5 figcaption {
    background-color: black;
    position: absolute;
    top: 0; right:0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.7em;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    opacity:0;
    transition: all 0.3s ease;
  }
  .effect5 figcaption h3 {
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .effect5:before,
  .effect5:after {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition: all 0.3s ease;
    opacity:0;
  }
  .effect5:before {
    transform: scaley(2);
  }
  .effect5:after {
    transform: scaley(2);
  }
  
  .effect5:hover:before,
  .effect5:hover:after {
    opacity:1;
    transform: scale(1);
  }
  .effect5:hover > img {
    border: 2px solid black;
    background-color: white;
    opacity:0.7;
  }
  .effect5:hover figcaption {
    opacity:0.8;
    transition-delay: 0.1s;
  }