@charset "UTF-8";
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url(/font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoLB";
    src: url(/font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url(/font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoEB";
    src: url(/font/AppleSDGothicNeoEB.ttf);
}

a{
    text-decoration: none;
    color: #4C4646;
}

.nav{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid #796453;
}

.navbar_logo_img{
    width: 100%;
    padding-left: 3%;
}

.nav_list{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.nav_button{
    font-family: "AppleSDGothicNeoM";
    font-size: 17px;
    color: #4C4646;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
    overflow: hidden;
}
.nav_reigst{
    font-family: "AppleSDGothicNeoM";
    display: flex;
    font-size: 13px;
    color: #4C4646;
}
.nav_my{
    display: flex;
    flex-direction: row;
    width: 45%;
    align-items: center;
    justify-content: space-between;
}

.nav_register{
    margin:0 5%;
    width: 300px;
    border-bottom: 1px solid #796453;
}

.search_bar{
    width: 330px;
    font-family: "AppleSDGothicNeoM";
    font-size: 15px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    height: 50px;
}

.search_btn{
    font-size: 20px;
    color: #4C4646;
    border: none;
    background-color: #ffffff;
    margin-left: 5%;
    height: 50px;

}

/* .show{
    display: block;
} */

/* .dropbtn {
    background-color: #DFD6CD;
    color: #4C4646;
    padding: 0 3.5px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}


.nav_dropdown {
    display: inline-block;
}

.nav_dropdown-content {
    display: none;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.nav_dropdown-content a {
    color: #4C4646;
    padding: 0;
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

.nav_dropdown-content a:hover {background-color: #f1f1f1}

.nav_dropdown:hover .dropdown-content {
    display: block;
}

.nav_dropdown:hover .dropbtn {
    background-color: #DFD6CD;
    color: #4C4646;
} */


.nav_button:hover {
    transform: scale(1.3);
    transition-duration: 0.3s;
    color: #796453;
}
