@charset "UTF-8";
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url(../font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoLB";
    src: url(../font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url(../font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoEB";
    src: url(../font/AppleSDGothicNeoEB.ttf);
}

input{
    width: 100%;
}

.board-write{
    width: 100%;
    align-items: center;
    text-align: center;
}

.bwrite_1{
    display: inline-flex;
    width: 80%;
    margin: 2% 10%;
    align-items: center;
    border: 3px solid #796453;
    border-radius: 20px;
}

.bw_title{
    font-family: "AppleSDGothicNeoB";
    font-size: 35px;
    width: 100%;
    margin-top: 4%;
}

.form_group{
    width: 100%;
    display: inline-flex;
    padding: 2% 0;
}

.bw_text{
    width: 70%;
}

.form_group label{
    width: 17%;
    margin: 0 2.5%;
    text-align: left;
    padding-top: 2%;
    padding-left: 3%;
}

.form_group textarea, .form_group input{
    width: 100%;
    margin: 0 2.5%;
}