@charset "UTF-8";
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url(../font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoLB";
    src: url(../font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url(../font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoEB";
    src: url(../font/AppleSDGothicNeoEB.ttf);
}

.nav{
    z-index: 100;
}

.container{
    text-align: center;
    height: 100%;
    line-height: 70px;
    font-family: "AppleSDGothicNeoM";
    width: 50%; 
    margin:0 25%;
}

.col-12{
    width: 50%;
    margin: 0 25%;
}

.form_control{
    background-color: #FFFFFF;
    height: 45px;
    border-color: #796453;
}

.btn_btn-secondary_btn-block_my_custom_button{
    color: #FFFFFF;
    background-color: #796453;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 0 44.9%;
    font-size: 15px;
    clear: both;
}

/* register.html */

label{
    float: left;
    text-align: left;
}

.intro{
    font-family: "AppleSDGothicNeoM";
    text-align: center;
    font-size: 25px;
    margin: 0;
}

.col_12 label{
    width: 40%;
    float: left;
    text-align: left;
    clear: both;
    height: 45px;
}

.col_12 input{
    width: 60%;
    float: right;
    text-align: right;
    height: 45px;

}