@charset "UTF-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,900');
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url(../font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoLB";
    src: url(../font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url(../font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoEB";
    src: url(../font/AppleSDGothicNeoEB.ttf);
}

.myp{
    display: flex;
    width: 100%;
    min-height: 90vh;
    flex-direction: row;
}

.mypage_nav{
    width: 16%;
    background-color: #DFD6CD;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.myp_logo{
    font-family: "AppleSDGothicNeoM";
    font-size: 35px;
    margin-top: 40%;
    margin-bottom: 20%;
    width: 80%;
    font-weight:570;
    padding-left: 8%;
}

.my_nav_btn{
    margin: 10% 0;
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 8%;
}
.my_nav_text{
    font-size: 22px;
    font-family: "AppleSDGothicNeoM";
    color: #4C4747;
    position: relative;
    padding-bottom: 7%;
     
}
.my_nav_text:before{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0; right: 0;
    height: 3px;
    background-color: #796453;

}
.my_nav_text:before{
    opacity: 0;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
      transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.my_nav_text:hover:before{
    opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.mypage_item{
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-left: 13%;
    justify-content: center;
    margin-top: 1%;
}

.mypage_border{
    width: 98%;
    margin: 0 1%;
    border: 2px solid #796453;
    border-radius: 20px;
}

.my_title{
    width: 100%;
    text-align: center;
    font-size: 33px;
    margin-bottom: 4%;
}

.mypage_box{
    width: 80%;
    margin: 2% 10%;
}

.profile_block{
    padding: 3% 0;
    width: 80%;
}

.profile_title{
    font-size: 22px;
    font-family: "AppleSDGothicNeoEB";
}

.profile_detatil{
    font-size: 17px;
    color: #939393;
    border-bottom: 1px solid #959595;
    width: 100%;
    margin-top: 2%;
    padding-bottom: 1%;
}


.re_profile{
    font-size: 22px;
    border: none;
    border-radius: 50px;
    background-color: #DFD6CD;
    font-family: "AppleSDGothicNeoM";
}

.myp_bnt{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 20%;
    align-items: flex-end;
    height:40px
}

.myp_edit_bnt{
    width: 100px;
    height: 50px;
    background: #DFD6CD;
    border-radius: 50px;
    border: none;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-family: "AppleSDGothicNeoM";
    font-size: 17px;
}

.admin_bnt{
    width: 100px;
    height: 50px;
    background: #DFD6CD;
    border-radius: 50px;
    border: none;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-family: "AppleSDGothicNeoM";
    font-size: 17px;
    margin-bottom: 2%;
}

