{% extends "base.html" %}
{% load static %}
<!-- {% block metadescription %}
    Welcome to the PRE.ART 
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - PRE.ART
    {% else %}
        PRE.ART
    {% endif %}
{% endblock %} -->

{% block content %}

<link rel="stylesheet" href="{% static 'css/search.css' %}">

    <div class="search_Q">
        <b>"{{ query }}"</b>를 찾으시나요?
    </div>
    <div class="search_A">
        <div class="a-1">
            {% for product in products %}
            <a class="block" href="{{product.get_url}}">
                <img class="picture" src = "{{product.image.url}}" alt = "{{product.name}}" style="width: 98%; height: 500px;">
                <div class="content" style="padding:0 10px;">
                    <div class="name" style="text-align: right; padding:0 10px;">작가 활동명 칸</div>
                    <div class="title">{{product.name}}</div>
                    <div class="percent" style="color: red;">펀딩률%</div>
                </div>
            </a>
            {% empty %}
            <div class="a-1">
                <p class="search_Q">검색 결과가 없습니다.</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}