{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        .nav{
            z-index: 100;
        }
        #btn2{
            border-bottom: solid 8px #796453;
            display: inline-block;
            width: 120px;
            height: 80px;
            line-height: 80px;
        }
        .row-my-row-class{
            text-align: center;
            font-size: 17px;
            width: 100%;
            margin: 2% 0;
            font-family: "AppleSDGothicNeoB";
        }
        .name{
            text-align: right; padding:0 10px; font-family: "AppleSDGothicNeoM";
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <!-- {% if category %}
        <div class="row-my-row-class" style="width: 100%; text-align:center;">
            <div class="mx-auto">
                <p><a href = "{% url 'shop:allProdCat' %}">Our Collection</a> | {{ category.name }}</p>
            </div>
        </div>

        {% for product in products.object_list %}
        <a class="block" href="{{product.get_url}}">
            <img class="picture" src = "{{product.image.url}}" alt = "{{product.name}}" style="width: 98%; height: 500px;">
            <div class="content" style="padding:0 10px;">
                <div class="name" style="text-align: right; padding:0 10px;">작가 활동명 칸</div>
                <div class="title">{{product.name}}</div>
                <div class="percent" style="color: red;">펀딩률%</div>
            </div>
        </a>
        {% endfor %}


    {% else %} -->

    <div class="slidebox">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">
        <input type="radio" name="slide" id="slide04">
        <ul class="slidelist">
            <li class="slideitem">
                <a><img src="{% static 'img/lastmain.png' %}" alt=""></a>
            </li>
            <li class="slideitem">
                <a><img src="{% static 'img/banner2.png' %}" alt=""></a>
            </li>
            <li class="slideitem">
                <a><img src="{% static 'img/banner3.png' %}" alt=""></a>
            </li>
            <li class="slideitem">
                <a><img src="{% static 'img/banner4.png' %}" alt=""></a>
            </li>
            
        </ul>
        <div class="slide-control">
            <div class="control01">
                <label for="slide04" class="prev"><i class="fa-solid fa-angle-left"></i></label>
                <label for="slide02" class="next"><i class="fa-solid fa-angle-right"></i></label>
            </div>
            <div class="control02">
                <label for="slide01" class="prev"><i class="fa-solid fa-angle-left"></i></label>
                <label for="slide03" class="next"><i class="fa-solid fa-angle-right"></i></label>
            </div>
            <div class="control03">
                <label for="slide02" class="prev"><i class="fa-solid fa-angle-left"></i></label>
                <label for="slide04" class="next"><i class="fa-solid fa-angle-right"></i></label>
            </div>
            <div class="control04">
                <label for="slide03" class="prev"><i class="fa-solid fa-angle-left"></i></label>
                <label for="slide01" class="next"><i class="fa-solid fa-angle-right"></i></label>
            </div>
        </div>
    </div>

    {% for post in posts %}

    <!-- 승인 완료된 post만 뜨게 if문 설정해주세용 -->
    <a class="block" href="{% url 'shop:product' post.id %}">
        <div class="outer">
            <div class="inner-list">
                {% for i in post.image.all %}
                <img class="inner" src = "{{i.image.url}}" alt = "{{post.realname}}" style="width: 100%; height: 500px;">
                {% endfor %}
            </div>
        </div>


        <div class="content" style="padding:0 10px;">
    
            <div class="name">{{post.artist_name}}</div>
            <div class="title">{{post.realname}}</div>
            <div class="percent" style="color: red;">펀딩률%</div>
        </div>
    </a>
      
      <div class="button-list" style="display:none;">
        <button class="button-left">← Left</button>
        <button class="button-right">Right →</button>
      </div>

    {% endfor %}
    <script src="{% static 'js/banner.js' %}"></script>

    <!-- {% for product in products.object_list %}
    <a class="block" href="{{product.get_url}}">
        <img class="picture" src = "{{product.image.url}}" alt = "{{post.name}}" style="width: 98%; height: 500px;">
        <div class="content" style="padding:0 10px;">
            <div class="name" style="text-align: right; padding:0 10px;">작가 활동명 칸</div>
            <div class="title">{{product.name}}</div>
            <div class="percent" style="color: red;">펀딩률%</div>
        </div>
    </a>
    {% endfor %} -->


    {% endif %}
{% endblock %}
