{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        #btn2, #funding_btn1{
            border-bottom: solid 8px #796453;
            display: inline-block;
            width: 120px;
            height: 80px;
            line-height: 80px;
            
        }
        .fund_btn{
            width: 120px;
            height: 80px;
            line-height: 80px;
        }
        .nav{
            z-index: 100;
        }
        .top{
            width: 100%;
            text-align: center;
            height: 5px;
            line-height: 5px;
            padding-top: 1%;
        }
    </style>

    <link rel="stylesheet" href="{% static 'css/funding.css' %}">

    <p class="top"><a href = "{% url 'shop:allProdCat' %}">Home</a> | <a href = "{{product.category.get_url}}">{{product.category}}</a> | {{product.name}}</p>

    <div class="funding_1">
        <div class="funding_title" style="overflow: hidden;">
            <div style="overflow: hidden; max-height: 85%;">
                <div class="title" style="padding-left: 15%;">[{{product.category}}] {{product.name}}</div>
                <div class="picture" style="float: left; width: 80%;"><img src="{{product.image.url}}" style="width: 100%; height: 500px;"/></div>
                
                <button class="like"><i class="fa-solid fa-heart" style="color: #FD7777; float: left;"></i></button>
            </div>
            <div class="funding_percent" style="clear: both; width: 100%;">
                <span style="float: left;">펀딩 달성률</span>
                <progress class="progressTag" value="95" max="100" style="float: left; width:70%;"></progress>
                <span style="float: left;">95%</span>
            </div>
        </div>

        <div class="funding_content" style="padding-left: 0;">
            <div class="money_1">
                <div id="content_detail" style="padding-top: 140px;">모인금액</div><br>
                <span id="current_money"></span> 원
            </div>
            <script>
                var money = {{product.price}}; // 모인 금액
                
                function number(money){
                    return money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }

                document.getElementById("current_money").innerHTML = number(money);
            </script>
            <div class="time" style="padding-top: 80px;">
                <div id="content_detail">남은시간</div><br>
                <div id="detail_day"></div>
            </div>
            <script src="{% static 'js/dday.js' %}"></script>
            <div class="sponsor" style="padding-top: 80px;">
                <div id="content_detail">후원자</div><br>
                24명
            </div>
        </div>

        <div class="pr" style="clear: both;">"{{product.description}}"</div>
    </div>

    <div class="funding_2">
        <div class="funding_detail">
            <div class="money_2">
                <div id="funding_detail_title"div>목표금액</div>
                <div id="funding_detail"><span id="money"></span>원</div><!-- js로 원 단위 표시하기 -->
                <script>
                    var money = {{product.price}}; // 목표 금액
                    
                    function number(money){
                        return money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    }

                    document.getElementById("money").innerHTML = number(money);
                </script>
            </div>
            <div class="time_2" style="clear: both;">
                <div id="funding_detail_title">펀딩기간</div>
                <div id="funding_detail">2022.07.15 ~ 2022.08.23</div>
            </div>
            <div class="cash" style="clear: both;">
                <div id="funding_detail_title">결제</div>
                <div id="funding_detail">목표금액 달성시 2022.08.24에 결제 진행</div>
            </div>
        </div>

        <a href="{% url 'shop:spon' %}" class="spon_btn"><span style="padding: 0 30%;">후원하기</span></a>
        <!-- 링크 연결해주세요 -->
    </div><hr class="hr_1"><br/>

    <div class="funding_3" style="clear: both; height: 180px;">
        <div class="author">
            <img class="profile_1" src="{% static 'img/author_profile.png' %}" style="width: 130px; height: 130px; padding: 0;"/>
            <div class="profile_2" style="padding: 40px 8%;">
                <div class="name" style="font-size: 30px;">스튜디오 무색</div>
                <div class="last_login">마지막 로그인 11시간 전</div>
            </div>
        </div>
        <button class="follow_btn">
            <span>+팔로우</span>
        </button>
        <a href="#" class="qna_btn">
            <span>창작자에게 문의</span>
        </a>
    </div><hr class="hr_2">
    
    <div class="funding_4">
        <div class="funding_bar">
            <!-- <label class="fund_btn"><input id="funding_btn1" type="radio" checked style="display: ;"><span>전시계획</span></label>
            <label class="fund_btn"><input id="funding_btn2" type="radio"><span>업데이트</span></label>
            <label class="fund_btn"><input id="funding_btn3" type="radio"><span>Q&A</span></label>
            <label class="fund_btn"><input id="funding_btn4" type="radio"><span>추천</span></label> -->
            <button class="fund_btn" id="funding_btn1" style="width: 150px;">전시계획</button>
            <button class="fund_btn" id="funding_btn2" style="width: 150px;">업데이트</button>
            <button class="fund_btn" id="funding_btn3" style="width: 150px;">Q&A</button>
            <button class="fund_btn" id="funding_btn4" style="width: 150px;">추천</button>
            <hr class="hr_3" style="margin-top: 0px;">
        </div>
        <div class="under_content">
            <div id="under_1">
                <button class="underbtn" id="underbtn_1"><span>소개</span></button>
                <button class="underbtn" id="underbtn_2"><span>예산</span></button>
                <button class="underbtn" id="underbtn_3"><span>일정</span></button>
                <button class="underbtn" id="underbtn_4"><span>작가소개</span></button>
                <button class="underbtn" id="underbtn_5"><span>신뢰와 안전</span></button>
            </div>
            <div id="under_2">
                업데이트 내용 입력
            </div>
            <div id="under_3">
                Q&A 내용
            </div>
            <div id="under_4">
                추천 내용
            </div>
        </div>
    </div>
    <div style="clear: both; float: right;"><a class="btn btn-secondary" href = "{% url 'cart:add_cart' product.id %}">(test용)장바구니 담기</a></div>
    <!--  url 'cart:add_cart' product.id  -->
{% endblock %}
