{% load static %}

<style>
.dropdown {    display: inline-block;}
.dropdown-content {
    display: none;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 100px;
}
.dropdown-content a {
    color: #4C4646;
    padding: 0;
    text-decoration: none;
    display: flex;
    height: 50px;
    line-height: 50px;
    font-size: 10px;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.dropdown:hover .dropbtn {
    background-color: #DFD6CD;
    color: #4C4646;
}

.nav_title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.navbar_logo_img{
    width: 100%;
}

</style>
<nav class="nav">

    <a class="nav_title" href="{% url 'shop:allProdCat' %}">
        <img class="navbar_logo_img" src="{% static 'img/preartlogo.png' %}" alt="">
    </a>

    <ul class="nav_list">

        <a style="text-decoration: none" href="{% url 'cart:popular' %}">
            <div class="nav_button">인기전시</div>
        </a>
        <!-- class="nav_dropdown-content" -->
        
            <!-- 드롭다운 일단 주석 처리 해놓음 -->
            <!-- {% for cat in links %}
            <a class="nav-link" href="{{cat.get_url}}">{{cat.name}}</a> 
            {% endfor %} -->


        <a style="text-decoration: none" href="{% url 'shop:allProdCat' %}">
            <div class="nav_button">전체펀딩</div>
        </a>
        <a style="text-decoration: none" href="{% url 'cart:articovery' %}">
            <div class="nav_button">아티커버리 | 오늘의전시</div>
        </a>
        <a style="text-decoration: none" href="{% url 'board:board_list' %}">
            <div class="nav_button">Q&A</div>
        </a>

    </ul>
    
    <div class="nav_my">
        <!-- 검색창 -->
        <form class="nav_register" action="{% url 'search_app:searchResult' %}" method="get">
            <input class="nav_search_bar" type="text" placeholder="Search.." aria-label="Search" name = "q" style="border: none;">
            <button class="search_btn" type="submit"><span><i class="fa-solid fa-magnifying-glass"></i></span></button>
        </form>



        <!-- 전시 등록 -->
        {% if user.is_authenticated %}
        <a class=" nav_reigst" href="{% url 'cart:regist_1' %}">전시 등록하기</a>
        {% else %}
        <a class=" nav_reigst" onClick="alert('로그인 후 이용해주세요.')">전시 등록하기</a>
        {% endif %}



        <!-- 로그인 -->
        <div class="nav_login">
            <!-- <i id="toggle_btn" style="cursor: pointer;" class="fa-regular fa-user"></i> -->
            {% if user.is_authenticated %}
            {% if not user.member %}
            <!-- 마이페이지 만들기 -->
            <a href="{% url 'accounts:newinfo' %}"><i class="fa-solid fa-user fa-2x"></i></a>
            <!-- 로그아웃 -->
            <a href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket fa-2x"></i></a>
            {% else %} 
            <!--마이페이지 -->
            <a href="{% url 'accounts:mypage' %}"><i class="fa-solid fa-circle-user fa-2x"></i></a>
            <!-- 로그아웃 -->
            <a href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket fa-2x"></i></a>
            {% endif %}
            {% else %}
            <!-- //* 로그인 아이콘 -->
            <a href="{% url 'accounts:login' %}"><i class="fa-solid fa-right-to-bracket fa-2x"></i> </a>
            {% endif %}
        </div>
    </div>
        
</nav>