{% extends "base.html" %}

{% block content %}
<div class="board-write">
  <div class="bw_title">질문 작성</div>
  <div class="bwrite_1">
    <form method="POST" action=".">
      {% csrf_token %}
      {% for field in form %}
      <div class="form_group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="bw_text">
        {% comment %} {% ifequal field.name 'contents' %}
        <textarea
          class="form-control"
          name="{{ field.name }}"
          placeholder="{{ field.label }}">
        </textarea>

        {% else %}
        <input
          type="{{ field.field.widget.input_type }}"
          class="form-control"
          id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}"
          name="{{ field.name }}"
        /> 
        {% endifequal %} {% endcomment %}
        <textarea
        class="form-control"
        name="{{ field.name }}"
        placeholder="{{ field.label }}">
      </textarea>
      </div>
      </div>
      {% if field.errors %}
      <span style="color: #DFD6CD;">{{ field.errors }}</span>
      {% endif %}
      {% endfor %}
      <button type="submit" class="btn btn-secondary">글쓰기</button>
    </form>
  </div>
</div>
</div>
{% endblock %}