{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="bdetail_1">
  <div class="bdetail_board">질문</div>
  <div class="bdetail_title">{{ board.title }}</div>
  <div class="bdetail_writer">{{ board.writer }}</div>
</div>

<div class="bdetail_2"  onkeydown="resize(this)" onkeyup="resize(this)">
  <div class="bdetail_contents">{{ board.contents }}</div>
</div>
<script src="{% static 'js/textarea_resize.js' %}"></script>

<div class="bdetail_3">
  <button class="bdetail_3_btn" onclick="location.href='/board/list/'">질문 목록</button>
</div>

{% endblock %}